{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="es">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <title>Hotel Oasis - Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <h1 class="titulo">Bienvenido al Hotel Oasis</h1>
    </header>

    <div class="content">
      <section id="inicio">
        <h2 class="title-container">Sobre Nosotros</h2>
        <p class="inicio">
          Disfruta de una experiencia inolvidable en Hotel Oasis, ofrecemos una
          experiencia única de relajación y confort, Wi-Fi gratuito en todas las
          áreas, distintos tipos de habitaciones y varios servicios. Estamos
          ubicados en el corazón de la ciudad, nuestro hotel es el lugar
          perfecto para descansar y disfrutar.
        </p>
      </section>

      <h2 class="title-container">Servicios del Hotel</h2>
      <!-- Asegúrate de que el estilo para .title esté correctamente definido en tu archivo CSS -->

      <div class="servicios">
        <div class="cuadro">
          <div class="Servicio">
            <h3>Spa y Bienestar</h3>
            <p>
              Disfruta de una experiencia relajante en nuestro spa, con una
              variedad de tratamientos de bienestar, masajes y sauna para
              revitalizar tu cuerpo y mente.
            </p>
          </div>
        </div>
        <div class="cuadro">
          <div class="Servicio">
            <h3>Restaurante Gourmet</h3>
            <p>
              Saborea lo mejor de la cocina internacional en nuestro restaurante
              gourmet, con menús diseñados por chefs galardonados y opciones
              para todos los gustos.
            </p>
          </div>
        </div>
        <div class="cuadro">
          <div class="Servicio">
            <h3>Piscina y Área de Recreación</h3>
            <p>
              Nuestra piscina al aire libre, rodeada de jardines tropicales, es
              el lugar perfecto para relajarte bajo el sol o disfrutar de una
              bebida en nuestro bar junto a la piscina.
            </p>
          </div>
        </div>
        <div class="cuadro">
          <div class="Servicio">
            <h3>Gimnasio y Clases de Yoga</h3>
            <p>
              Mantente en forma durante tu estancia con nuestro gimnasio
              equipado y nuestras clases de yoga al aire libre para comenzar el
              día con energía.
            </p>
          </div>
        </div>
      </div>

      <section id="habitaciones">
        <h2>Nuestras Habitaciones</h2>
        <div class="rooms">
          <div class="room-card">
            <a href="/estandar" class="room-link">
              <img
                src="{% static 'img/habitacion1.jpg' %}"
                alt="Habitación Estándar"
              />
              <h3 class="title_rooms">Habitación Estándar</h3>
              <p>Comodidad y sencillez para su estadía perfecta.</p>
            </a>
          </div>
          <div class="room-card">
            <a href="/deluxe" class="room-link">
              <img
                src="{% static 'img/habitacion2.jpg' %}"
                alt="Habitación Deluxe"
              />
              <h3 class="title_rooms">Habitación Deluxe</h3>
              <p>Amplias habitaciones con vista panorámica.</p>
            </a>
          </div>
          <div class="room-card">
            <a href="/suite" class="room-link">
              <img src="{% static 'img/habitacion3.jpg' %}" alt="Suite" />
              <h3 class="title_rooms">Suite</h3>
              <p>Lujo y elegancia en cada detalle.</p>
            </a>
          </div>
        </div>
      </section>

      <h2 class="title-container">Políticas del Hotel</h2>
      <section id="politicas" class="policy-details">
        
        <ul class="policy-list">
          <li>
            <h3>Política de Cancelación</h3>
            <p>
              Las cancelaciones realizadas con al menos 48 horas de antelación
              no generarán cargos. Si cancelas después de este periodo, se
              aplicará un cargo del 50% del total de la reserva.
            </p>
          </li>
          <li>
            <h3>Check-in y Check-out</h3>
            <p>
              El horario de check-in es a partir de las 3:00 PM y el check-out
              debe realizarse antes de las 12:00 PM. Late check-out está
              disponible con un costo adicional, sujeto a disponibilidad.
            </p>
          </li>
          <li>
            <h3>Política de Mascotas</h3>
            <p>
              Las mascotas son bienvenidas en áreas designadas del hotel. Se
              aplica un cargo adicional por mascota por noche. Los huéspedes
              deben informar al hotel con anticipación si planean traer
              mascotas.
            </p>
          </li>
          <li>
            <h3>Política de No Fumar</h3>
            <p>
              El Hotel Oasis es un espacio libre de humo. Está prohibido fumar
              en las habitaciones y áreas públicas. Se aplicarán cargos de
              limpieza adicionales si se infringe esta política.
            </p>
          </li>
        </ul>
      </section>
    </div>

    <footer>
      <p>&copy; 2024 Hotel Oasis. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
{% endblock %}
