/* General */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
}

header {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titulo {
  font-size: 2.5em;
  margin: 0;
  transition: color 0.3s ease;
}

.content {
  padding: 20px;
}

h2 {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #007bff;
  transition: color 0.3s ease;
}

/* Sección Sobre Nosotros */
.inicio {
  font-size: 1.2em;
  text-align: center;
  margin: 20px 0;
  color: #555;

}

/* Servicios */


.title-container {
  margin: 0 auto; /* Centra el contenedor */
  width: 50%; /* Ajusta el ancho del contenedor según tus necesidades */
  height: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.servicios .title {
  font-size: 2em; /* Ajusta el tamaño del título */
  margin-bottom: 20px; /* Espacio entre el título y los cuadros */
}

.servicios {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  grid-template-rows: repeat(2, 1fr); /* Dos filas */
  gap: 20px; /* Espacio entre los cuadros */
  margin-top: 40px;
  margin-bottom: 20px;
  transition: margin-top 0.3s ease;
}

h2:first-of-type {
  margin-top: 0; /* Alinea el título de "Servicios" directamente encima de los servicios */
}

.cuadro {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ajusta el contenido al mismo nivel */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px; /* Bordes redondeados */
  background-color: #ffffff;
  min-height: 200px; /* Asegura que los cuadros tengan la misma altura */
  transition: box-shadow 0.3s ease;
}

.cuadro:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
}

.Servicio h3 {
  font-size: 1.5em;
  color: #007bff;
  text-align: center;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.Servicio p {
  font-size: 1em;
  text-align: center;
  color: #555;
  transition: color 0.3s ease;
}

/* Habitaciones */
.rooms {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: margin-top 0.3s ease;
}

.room-card {
  width: 250px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.room-card:hover {
  transform: translateY(-10px); /* Sombra y elevación al pasar el ratón */
}

.room-link {
  text-decoration: none;
  color: #000;
}

.room-link img {
  width: 100%;
  height: auto;
}

.room-card h3 {
  font-size: 1.2em;
  color: #007bff;
  text-align: center;
  margin: 10px 0;
  transition: color 0.3s ease;
}

.room-card p {
  font-size: 1em;
  text-align: center;
  color: #555;
  transition: color 0.3s ease;
}

/* Politicas */


.policy-details {
  background-color: #f2f2f2; /* Fondo gris suave para un look cálido */
  padding: 30px; /* Espaciado interno para más comodidad visual */
  border-radius: 10px; /* Bordes redondeados para suavizar los bordes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  margin-bottom: 30px; /* Espaciado inferior para separar de otros elementos */
  font-family: 'Roboto', sans-serif; /* Fuente legible y moderna */
}

.policy-details h2 {
  font-size: 1.8em; /* Tamaño de fuente grande para el título */
  color: #333; /* Color oscuro para el título */
  text-align: center; /* Centrado del título */
  margin-bottom: 20px; /* Espacio debajo del título */
}

.policy-list {
  list-style-type: none; /* Quita los puntos de lista */
  padding: 0; /* Quita el espaciado adicional alrededor de las listas */
}

.policy-list li {
  margin-bottom: 15px; /* Espaciado entre los elementos de la lista */
}

.policy-list h3 {
  font-size: 1.4em; /* Tamaño de fuente del título de la política */
  font-weight: bold; /* Negrita para resaltar los títulos */
  color: #007BFF; /* Color azul para un toque de color y distinción */
  margin: 0; /* Quita el margen por defecto que aplica los elementos de la lista */
}

.policy-list p {
  font-size: 1em; /* Tamaño de fuente del texto */
  color: #555; /* Color gris para el texto */
  margin: 10px 0; /* Espaciado superior e inferior del texto */
}

/* Footer */
footer {
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
